body{
    background-color: rgb(197, 197, 197);
}

.container{
    display: flex;
    justify-content: space-around;
}

.grafico{
    border: 5px double rgb(0, 0, 0);
    background-image: linear-gradient( rgb(205, 197, 114),rgb(255, 255, 255));
}